.menu {
  grid-area: navbar;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0 2rem;
  min-height: 100vh;
  max-width: 5wh;
  color: #282c34;
}

.item {
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  margin: 0.5rem 0 0 0;
}

a.item:hover {
  color: #61dafb;
}
.item:visited {
  color: #282c34;
}
