body {
  background: #f7f7f7;
  box-sizing: border-box;
  color: #282c34;
  font-size: 1rem;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    'header header header'
    'navbar content content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  color: aliceblue;
  font-size: 1.2rem;
}

.app-wrapper-content {
  grid-area: content;
  background: rgba(61, 61, 61, 0.2);
  height: 100%;
}
